@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat',sans-serif;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;     
    font-weight: 400;
    letter-spacing: 0.05rem;
    padding: 20px 0px;
}
.btn{
    background-color: #12364be3;
    border: 1px solid #34ba7c ;
    border-radius: 150px;
    color: #fff;
    font-weight: bold;
    padding: 1.5rem 1.8rem;
    cursor: pointer;
    transition: all 0.2s;
}
.btn:focus{
    outline: none;
}
.btn:hover{
    background-color: #1aa966;
    color: #fff;
    /* color: #34ba7c; */
    color: #29494b;
    background-color: #fff;
}  
.section-title{
    font-size: 2rem;
    font-weight: 300;
    color: #353735f2;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .5rem;
    text-align: center;
    /* border-bottom: #34ba7c 10px solid ; */
    border-bottom: linear-gradient(#fff, #34ba7c) 10px solid;
}
.section-title span{
    color: #34ba7c;
}

.cta{
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #34ba7c;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition:background-color 0.5s ease;
}

.cta:hover{
    background-color: #34ba7c;
}

.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
}
.brand h1 span{
    color: #34ba7c;
}
/* Header */
#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    z-index: 5;
    transition: 0.3s ease-in background-color;
}
#header .header{
    min-height: 8vh;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list .hamburger{
    color: #fff;
    font-size: 35px;
    padding-right: 20px;
    cursor: pointer;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left:100%;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    overflow-x: hidden;
    transition: .3s ease-in left;
} 

#header .nav-bar .nav-list .mainMenu.active{
    left: 0%;
}
#header .nav-bar .nav-list .mainMenu .closeMenu{
    color: #fff;
    font-size: 40px;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 25px;
}
#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul li:hover a{
    color: #34ba7c;
}

.video{
    z-index: -20;

}

.v-header{
    height: 100vh;
    /* width: 100vw; */
    background-color: #3E676A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* z-index: 0; */
}
.fullscreen-video-wrap{
    background-color: #3E676A;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
}
.fullscreen-video-wrap video{
    min-width: 100%;
    min-height: 100%;
    /* object-fit: cover; */
    /* transform-origin: (50%,50%); */
    overflow-x: hidden;
    
}
.header-wrapper{
    max-height: 100vh;

}
.header-overlay{
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #12364be3;
    opacity: 0.75;
    /* z-index: 1; */
    overflow: hidden;
}
.header{
    /* z-index: 2; */
}
.header-content{
    min-width: 100vw;
    min-height: 100vh;
}
/*End Header */

/*  Media Query for Desktop */
@media only screen and (min-width:1200px) {

    #header .hamburger{
        display: none;
    }
    #header .mainMenu .closeMenu{
        font-size: 2rem;
        display: none;
        cursor: pointer;
    }
    #header .nav-list ul{
        position: initial;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul a{
        font-size: 1.8rem;
    }
    #header .nav-list ul a:after{
        display: none;
    }
    p{
        font-size: 1.6rem;
    }

}
/* End Media Query for Desktop */

.categories{
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
    /* align-items: center;
    justify-content: center; */
}

.cat-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.cat{
    margin: 1rem;
    max-width: 300px;
    min-height: 495px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-image: linear-gradient(to right bottom, #29494b, #256e6b, #1d9787, #1caf8a, #3ac786);
    box-shadow: 1.5px 1.5px 2px 2px rgb(0 0 0 / 16%);
    position: relative;
    overflow: hidden;
}
.cat-img{
    position: absolute;
    top: 60%;
    max-width: 80%;
    z-index: 1;
    transform: rotate(12deg) scaleX(-1);
    transition: .5s;
}
.cat:hover .cat-img{
    transform:  scaleX(-1);
}

.cat-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);

}
.cat-title{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-size: 1.9rem;
    text-align: center;
}
.cat-desc{
    text-align: center;
    font-size: 1.78rem;
    margin-bottom: 1.5rem;
    color: rgb(224, 228, 231);
}
.cat-button{
    z-index: 2;

}
.cat-button button{
    font-weight: bold;
    font-size: 1.8rem;
    box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 16%);
}
/* COMPANY INFO */
.company-info{
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.info-title{
    font-weight: bold;
    text-align: left;
    font-size: 2.3rem;
    position: relative;
}
.info-title::before{
    content: "";
    position: absolute;
    width: 25%;
    height: 5px;
    bottom: -1rem;
    background-color: #34ba7c;
    background-image: linear-gradient(to right , #177052, #256e6b, #1caf8a, #3ac786,#fff,#fff,#fff);
}
/* ABOUT US */
.about{
    display: flex;
    padding: 3rem 0 ;
}
.offerings{
    display: flex;
    padding: 3rem 0 ;
}
.description{
    padding: 2rem 0;
    font-size: 1.5rem;
    letter-spacing: 0.7px;
    /* line-height: 1.5rem; */
}
.left-half{
    flex: 1;
    padding: 1rem;
}
.right-half{
    flex: 1;
    padding: 1rem;
}

/* PRODUCT LIST PAGE */
.title{
    background-color: #29494baf;
    min-height: 50%;
    display: flex;
    justify-content: center;
    padding: 10rem 3rem 2rem ;
    align-items: center;
}
.title h1{
    font-size: 6rem;
    color: #fff;
    text-align: center;
}

/* FILTER */
.category-content{
    display: flex;
    max-width: 1050px;
    margin: 4rem auto;
    justify-content: start;
}
.cat-filters{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content:flex-start;
    padding: 0 2rem;

}
.filter-title{
    font-size: 2rem;
    color: #1caf8a;
}
.filter-links{
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 3px; */
}
.filter-cols{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 660px;
    margin-right: 50px;
}
.col-heading{
    border-top:  solid grey 1px;
}
.heading p{
    cursor: pointer;
    font-family: sans-serif;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    font-size: 14px;
    color:#292929;
    font-weight: bold;
}
.links{
    margin: 20px 0;
}
.links li{
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.links li label {
    font-family: sans-serif;
    font-size: 13px;
    color: #292929;
    letter-spacing: 0.6px;
    margin: 0 0.2rem;
}
.links li label:hover{
    color: #1aa966;
}

    /* .col-heading.hidden ul{
        display: none;
    }

    .heading p{
        position: relative;
        padding: 10px 0;
    }
    .heading p::after{
        display: inline-block;
        content: ' ';
        position: absolute;
        width: 1em;
        height: 1em;
        background-image: url("/assets/Images/chevron-right-solid.svg");
        background-position-y: center;
        background-repeat: no-repeat;
        right:0 ;
        top: 36%;
        right: -20px;
        transform-origin: 0%;
        transition: transform 0.2s ease-in;
    }
    .col-heading.hidden .heading p::after{
        transform: rotate(90deg);
    }
    .col-heading .heading p::after{
        transform: rotate(0deg);
    } */

.product-list{
    width: 100%;
    padding-right:1rem;
}
.product{
    display: flex;
    margin: 1.5rem 0;
    padding: 1.5rem 1rem 1rem;
    /* border-bottom:  1px solid grey; */
    box-shadow: 1.5px 1.5px 2px 2px rgb(0 0 0 / 16%);
}
.product-img img{
    width: 120px;
    height: 120px;
    /* flex: 1; */
    object-fit: cover;

}
.product-info{
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    flex: 1;
    margin: 0 1rem;
    padding: 1rem 0;
}
.product-desc{
    flex: 3;
}
.product-buy{
    flex: 2;
}
.product-name h2{
    color:#292929;
    font-size: 2.5rem;
}
.product-number{
    margin: 1.1rem 0;
    font-size: 1.2rem;
    color: #1d9787;
    font-weight: bold;
}
.product-shipping{
    display: flex;
    width: 80%;
    font-size: 1.25rem;
    justify-content: space-between;
}
.shipping-days span{
    font-weight: bold;
    color: #292929;
}
.specs a{
    font-weight: bold;
    color: #1d9787;
}
.specs a i{
    font-size: 1.5rem;
}
.product-price{
    font-size: 1.5rem;
}
.product-price span{
    font-weight: bold;
    font-size: 1.97rem;
    color: #256e6b;
}
.view-details button{
    font-size: 1.7rem;
    letter-spacing: 1.9px;
    margin: 0.9rem 0;
    width: 100%;
}
.favorite {
    text-align: center;
}
.favorite a{
    font-size: 1.2rem;
    letter-spacing: 0.9px;
    font-weight: bold;
    color: #3E676A;
}
/* PRODUCT DETAILS */
.product-content{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 1rem;
}
.main-product{
    display: flex;
}
.slider-wrapper{
    flex: 2;
}
.slider {
    position: relative;
    /* width: 10%; */
    overflow: hidden;
    max-width: 400px;
    box-shadow: 1.5px 1.5px 2px 2px rgb(0 0 0 / 16%);
}
.images {
    display: flex;
    width: 100%;
    
}
.images img {
    height: 400px;
    /* width: 100%; */
    transition: all 0.15s ease;
}
.images img:hover{
 transform: scale(2);
}
.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
 }
 .dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #34ba7c 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
  }
  .dots label:hover {background: #34ba7c;}
  #img1:checked ~ .m1 {
    margin-left: 0;
  }
  #img2:checked ~ .m2 {
    margin-left: -100%;
  }
  #img3:checked ~ .m3 {
    margin-left: -200%;
  }
  #img4:checked ~ .m4 {
    margin-left: -300%;
  }

.product-details{
    padding: 0 2rem;
    flex: 4;
}
.details-top{
    display: flex;
    /* justify-content: space-between; */
    /* padding: 0 1rem; */
}
.product-description{
    font-size: 2rem;
    flex: 3;
}
.product-cash{
    flex: 2;
    font-size: 2.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #292929;
    font-weight: bold;
}
.price{
    color: #1f7064;
    font-size: 3rem;
}
.extra-details{
    padding: 1rem 0;
}
.extra-details li{
    font-size: 1.5rem;
    letter-spacing: 0.2px;
    color: #292929;
    margin: 15px 0 5px;
}
.extra-details li i{
    color: #1aa966
}
.purchase-buttons{
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.purchase-btn{
    flex: 1;
}
.purchase-btn button{
    width: 90%;
    font-size: 1.7rem;
    letter-spacing: 1.1px;
}

/* TABS */
.details-tabs{
    box-shadow: 1.5px 1.5px 2px 2px rgb(0 0 0 / 16%);
    /* background-color: #3e676a73; */
    margin-top: 2rem;

}
.tabs-top-wrapper{
    display: flex;
    justify-content: space-around;
}
.tab-item{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1d1d1d;
    cursor: pointer;
}
.tabs {
    padding-top: 1rem;
	border-bottom: 2px solid #177052;   
	border-right: none;
}
.tab-item{
    flex: 1;
}
.tabs p {
    color: #292929;
    font-weight: bold;
    letter-spacing: 2px;
	font-size: 1.6rem;
    text-transform: uppercase;
	padding-top: 0.5rem;
}

.tab-border {
	border-bottom: #34ba7c 4px solid;
}
/* .tab-content-item{
    min-height: 250px;
} */
/* Tab Content */
.tab-content {
	padding: 3rem 2rem;
}

/* Hide initial content */
#tab-1-content,
#tab-2-content,
#tab-3-content {
	display: none;
	opacity: 0;
}

.show {
	display: block !important;
	opacity: 1 !important;
	transition: all 1000 ease-in;
}
.quick-del-btn{
    text-align: center;
    font-size: 2rem;
}
.faq-list ul li{
    margin: 2rem 0;
    font-size: 1.5rem;

}
#tab-1-content .tab-1-content-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
#tab-1-content .tab-1-content-inner h3{
    flex: 2;
    padding-left: 2rem;
}
#tab-1-content .tab-1-content-inner p{
    flex: 3;
}

#tab-2-content .tab-2-content-bottom {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
	text-align: center;
}


/* Footer Section */
footer{
    background-color: #292929;
    background-color: #29494baf;
    color: white;
    display: flex;
    flex-direction: column;
}
.footer-wrapper{
    /* padding: 56px 76px 0px; */
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
.news-section{
    flex: 1;
}
.newsletter{
    padding-top: 1.5rem;
}
.newsletter-title{
    font-size: 2rem;
    font-weight: bold;
}
.newsletter-content{
    margin: 2rem 0;
    font-size: 1.4rem;
}
.newsletter-email input{
    border: none;
    width: 100%;
    border-radius: 2.3rem;
    padding: 1rem;
}
.newsletter-email{
    background-color:#fff;
    border-radius: 150px;
    display: flex;
    justify-content:space-between; 
    box-shadow: 1.5px 1.5px 2px 2px rgb(0 0 0 / 16%);
}
.footer-links{
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}
.footer-cols{
    display: flex;
    justify-content: space-around;
    /* width: 300px; */
    width: 100%;
    /* margin-right: 50px; */
}
.footer-heading p{
    color: white;
}
.links li{
    margin: 20px 0;

}
.links li a {
    font-family: sans-serif;
    letter-spacing: 0.5px;
    font-size: 13px;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.links li a:hover{
    color: #356da9;
}

.end{
    text-align: center;
    font-family: "Lato";
    background-color:#1d1d1d;
    color: #fff;
}
/* SOCIAL */
.social{
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    border-top: solid #ebeaeb 2.5px;
}
.private-links{
    display: flex;
}
.private-links li a{
    font-size: 14px;
    color: #fff;
    font-family:"Lato";
    font-weight: 600;
    margin-right: 16px;
}
.private-links li a .fa-globe{
    font-size: 16px;
    margin-right: 5px;
}
.private-links li a .fa-chevron-down{
    font-size: 10px;
    margin-left: 5px;
}
.private-links li a:hover{
    color: #34ba7c;
}
/* social-media */

.social-links{
    display: flex;
    margin-top: 2rem;
}
.social-media{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.to-download a{
    display: flex;
    color: #34ba7c;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 600;
}
.to-download a img{
    margin-right: 10px;
}
.social-media i{
    color: #12364be3;
    font-size: 18px;
    margin-left: 20px;
}
.social-media a i:hover{
    color: #34ba7c;
}
.legal p{
    font-family: sans-serif;
    font-size: 10px;
    letter-spacing: 0.2px;
    text-align: center;
}
.contact{
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    padding: 1rem;
    border-top:  2px solid #177052;
}
.contact-details{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.contact-heading{
    font-size: 2.8rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #29494b;
    text-transform: uppercase;
}
.contact-address{
    font-size: 1.4rem;
    padding: 1rem;
    margin: 1.5rem 0;
}
.contact-number ul li{
    font-size: 1.6rem;
    margin: 1rem 0;
    color: #29494b;
}
.contact-map{
    flex: 1;
}
.contact-map iframe{
    width: 100%;
}
/* Sustainability */
.sus-img-container img{
    max-height: 50vh;
}
.sus-intro-wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
.sus-title{
    font-weight: bold;
    text-align: left;
    font-size: 2.3rem;
    position: relative;
}
.sus-title::before{
    position: absolute;
    content: "";
    width: 45%;
    height: 5px;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 175%;
    background-color: #3ac786;
}
.sus-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 15rem;
}
.sus-desc{
    letter-spacing: 0.8px;
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 4rem;
}
.sus-video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sus-video video{
    width: 100%;
}
.sus-info{    
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
/* CONTACT PAGE */
.contact-email{
    text-align: center;
    padding-top: 5rem;
    margin-top: 5rem;
    font-size: 3rem;
    color: #177052;
}
.contact-section{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
}
.contact-form{
    flex: 1;
}
.contact-img{
    flex: 1;
}
.contact-img img{
    transform: scale(.7);
}
#contact {
  background: #F9F9F9;
  padding: 25px 45px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #34ba7c;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #1f7064;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.abt-intro{
    padding-top: 2.5rem;
}

/* productDetails */
.certification-details{
    display: flex;
    justify-content: space-around;
}
.certification-detail{
    padding: 1.5rem;
    text-align: center;
}
.certification-detail h2{
    margin-bottom: 1rem;
    color: #12364be3
}
.certification-detail a{
    font-size: 1.3rem;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 1px;
    font-size: 1.38rem;
    font-family: sans-serif;
    /* min-width: 400px; */
    width: 100% ;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 18px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #f3f3f3;
}

/* .styled-table tbody tr:nth-of-type() {
} */

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.other-details h1{
    color: #177052;
    padding-top: 2rem;
}
.inner-overview{
    width: 100%;
}

.news-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.news-card{
    margin: 2rem;
    max-width: 250px;
}
.news-img img{
    height: 150px;
    margin-bottom: 1rem;
}
.news-content-title{
    font-weight: bold;
    font-size: 1.54rem;
    letter-spacing: 1.1px;
    margin-bottom: 1rem;
}
.news-content-desc{
    font-size: 1.3rem;
    letter-spacing: 0.8px;
}
@media (max-width:900px) {
    .category-content{
        flex-direction: column;
        align-items: center;
    }
    .cat-filters{
        width: 100%;
    }
    .product-list{
        padding-left: 1rem;
    }
    .details-top{
        flex-direction: column;
    }
    .product-cash{
        padding: 1rem 0;
    }
    .extra-details{
        padding: 0;
    }
    .footer-wrapper{
        flex-direction: column;
    }
    
}
@media (max-width:760px) {
    .about{
        margin-top: 2rem;
    }
    .left-half{
        padding: 0 4rem;
    }
    .right-half{
        padding: 4rem;
    }
    .description{
        padding-bottom: 0;
    }
    .product-img{
        flex: 1;
    }
    .product-img img{
        /* width:352px;
        height: 230px; */
        height: 100%;
        width: 100%;
    }
    .product-info{
        flex-direction: column;
        flex: 1;
    }
    .product-desc{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .product-buy{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* align-items: center; */
    }
    .product-name h2{
        font-size: 3.5rem;
        text-align: center;
    }
    .product-number{
        margin: 0;
        padding: 0;
        font-size: 2rem;
    }
    .product-shipping{
        width: 100%;
        justify-content: space-between;
        text-align: center;
    }
    .purchase-buttons{
        flex-direction: column;
        /* justify-content: space-between; */
        padding: 1rem 0;
        /* width: 100%; */
    }
    .purchase-btn{
        width: 100%;
    }
    .purchase-btn button{
        width: 100%;
        margin: 0.5rem 0;
    }
	.btn-xl {
		font-size: 1rem;
		padding: 1.2rem 1.6rem;
		text-transform: uppercase;
	}
    .hide-sm {
		display: none;
	}
    .contact-section{
        flex-direction: column;
    }
    #contact{
         margin: 0;
         padding-top: 0;
    }
    .contact-img{
        width: 75%;
        margin: 0 auto;
    }
}
@media (max-width:600px) {
    .sus-about{
        padding: 2.5rem;
    }
    .about{
        flex-direction: column;
    }
    .offerings{
        flex-direction: column;
    }
    .main-product{
        flex-direction: column;
    }
    .slider-wrapper{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .contact{
        flex-direction: column;
    }
    .contact-address{
        margin: 0;
    }
    .contact-number{
        text-align: center;
    }
}
@media (max-width:500px) {
    .certification-details{
        flex-direction: column;
    }
    .product{
        flex-direction: column;
    }
    .product-img img{
        height: 230px;
        width: 100%;
    }
    .product-number{
        margin: 1rem 0;
    }
    .product-price{
        margin: 1rem 0;
        text-align: center;
    }
    .images{
        width: 300px;
    }
    .images img {
        height: 300px;
        width: 300px;
    }
    .details-top{
        text-align: center;
    }
    footer{
        padding: 2rem ;
    }
    .footer-wrapper{
        flex-direction: column;
    }
    .footer-cols{
        flex-direction: column;
    }
    .col-heading.hidden ul{
        display: none;
    }
    .heading p{
        position: relative;
        padding: 10px 0;
    }
    .heading p::after{
        display: inline-block;
        content: ' ';
        position: absolute;
        width: 1em;
        height: 1em;
        background-image: url("https://a.slack-edge.com/3dfa4/marketing/img/icons/icon_chevron_big_black.svg");
        background-position-y: center;
        background-repeat: no-repeat;
        right: 0px;
        transform-origin: 0%;
        transition: transform 0.2s ease-in;
    }
    .col-heading.hidden .heading p::after{
        transform: rotate(0deg);
    }
    .col-heading .heading p::after{
        transform: rotate(90deg);
    }
    .social-links{
        flex-direction: column;
    }
    .social-media{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .social-media i{
        margin-left: 0;
    }
    .tab-1-content-inner{
        flex-direction: column;
    }
    #tab-2-content .tab-2-content-top {
		display: block;
		text-align: center;
	}
}


.header-overlay p{
    color: white;
    border: white solid 2px;
    z-index: 20;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 6rem;
    padding: 5rem;
}
.header-overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}